<div class="row mx-2 mt-2 mb-5">
    <div class="col-6">
        <h4>Créer une activité</h4>
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" required>
            </div>
            <div class="col">
                <button>Créer</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h4>Placer une activité</h4>
        <div class="row">
            <div class="col">
                <select name="activity">
                    <option value="">Sport</option>
                </select>
            </div>
            <div class="col">
                <select name="day">
                    <option value="">Lundi</option>
                    <option value="">Mardi</option>
                    <option value="">Mercredi</option>
                    <option value="">Jeudi</option>
                    <option value="">Vendredi</option>
                    <option value="">Samedi</option>
                    <option value="">Dimanche</option>
                </select>
            </div>
            <div class="col">
                <button>Placer</button>
            </div>
        </div>
    </div>
</div>
