<div class="row mx-2 mt-2 mb-5">
    <div class="col-6">
        <h4>Créer une activité</h4>
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" [(ngModel)]="activity" required>
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="NewActivity()">Créer</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h4>Placer une activité</h4>
        <div class="row">
            <div class="col">
                <select [(ngModel)]="activityPlanning">
                    <option *ngFor="let a of activities" value="{{ a.name }}">{{ a.name }}</option>
                </select>
            </div>
            <div class="col">
                <select [(ngModel)]="day">
                    <option value="Lundi">Lundi</option>
                    <option value="Mardi">Mardi</option>
                    <option value="Mercredi">Mercredi</option>
                    <option value="Jeudi">Jeudi</option>
                    <option value="Vendredi">Vendredi</option>
                    <option value="Samedi">Samedi</option>
                    <option value="Dimanche">Dimanche</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="AddPlanning()">Placer</button>
            </div>
        </div>
    </div>
</div>
